#pageNavigation {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    margin: 2rem auto;
    align-items: center;
    font-size: 1rem;
    color: black;
}

#pageNavigation > a {
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: black;
}

#navSelection {
    margin-left: auto;
}

#navSelection ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-weight: lighter;
}

#navSelection > ul li a {
    position: relative;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    color: black;
    font-size: 1rem;
}

#navSelection > ul li:not(:last-of-type) a {
    margin: 0 30px;
}

#navSelection > ul li:last-of-type a {
    margin-left: 30px;
}

.navButtonSelected {
    color: #7a7aff !important;
    font-weight: 600 !important;
}
